*{
    html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body, #root {
	height: 100%;
	width: 100%;
	font-family: poppins;
  }
}

/*Home*/
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
  background-image: url('../src/img/background.png');
  background-size: cover;
  background-position: center;
}
.home::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* Escurece a imagem sem afetar o texto */
  }
.container {
	position: relative; /* Mantém os textos visíveis acima da sobreposição */
	z-index: 1;
	margin-top: 12.5rem;
	text-align: center;
}

.titulo{
	text-align: center;
}

.titulo h1{
 font-size: 5.5rem;

 color: #ffffff;
}


.titulo dd{
	font-size: 2rem;
	margin-bottom: 5rem;
	color: #ffffff;
}

.btn-button{
	border: none;
	color: #fff;
	background-image: linear-gradient(30deg, #4A39EC, #758CFE);
	border-radius: 20px;
	background-size: 100% auto;
	font-family: inherit;
	font-size: 17px;
	max-width: max-content;
	padding: 0.6em 1.5em;
	cursor: pointer;
	
}

.btn-button:hover {
	background-position: right center;
	background-size: 200% auto;
	-webkit-animation: pulse 2s infinite;
	animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
	0% {
	 box-shadow: 0 0 0 0 #05bada66;
	}
   
	70% {
	 box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
	}
   
	100% {
	 box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
	}
   }

   /*ABOUT*/


   .tittle-about{
	font-size: 3rem;
	text-align: center;
	margin-top: 5rem;
	padding-bottom: 5rem;
   }

   strong {
	color: #626262;
	font-weight: 800;
   }

   .text{
	color: #808081;
	font-weight: 400;
   }
   

   .container-about{
	display: grid;
	grid-template-columns: 1fr;
   }
   .section-aboutUs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-bottom: 3rem;
	
   }

   .imgs{
	margin: auto;
	display: grid;
	
   }

   .imgs-about{
	width: 18rem;
	height: 15rem;
	border-top-right-radius: 3.3rem;
	border-bottom-left-radius: 3.3rem;
   }

  .descripition{
	width: 35rem;
	margin: auto;
  }

  .tittle-products {
	font-size: 3rem;
	margin-top: 8rem;
	text-align: center;
	padding-bottom: 5rem;
  }

  @media (max-width: 850px) {
	.container-about{
		display: flex;
		flex-direction: column;
	   }

	   .section-aboutUs {
		display: flex;
		flex-direction: column;
		
	   }

	   .imgs{
		display: none;
		
	   }

	   
	

  }